Binaries
Build
Plugins
DerivedDataCache
Content/StarterContent
Intermediate
Content/StarterContent/
Saved
.vscode
.vs
*.VS.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace